body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

div{
    display: flex;
    flex-direction: column;
}
button{
    margin-top: 10px;
}
span{
    align-items: center;
    justify-content: center;
    display: flex;
}
#eye{
    display: block;
    width: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}